.App {
  text-align: center;
}

.icon {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: "100%";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: "Bauhaus";
}

.Top-header {
  flex: 1;
}

.App-link {
  color: #61dafb;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(50px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(50px);
}

.Card-style {
  padding: 10%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Bauhaus";
  src: local("Bauhaus"),
    url(../Assets/Fonts/BauhausRegular.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url(../Assets/Fonts/OpenSans-Regular.ttf) format("truetype");
}
